*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #202c37 !important;
}
.navigationBtn {
  width: 80%;
  max-width: 800px;
  height: 40px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  color: rgb(151, 147, 147);
  margin: 1.2em;
}
.navigationBtn a {
  padding: 0.5em;
  border: 1px solid rgb(25, 25, 248);
  cursor: pointer;
  margin-left: 0.5em;
  border-radius: 4px;
}

.prevBtn,
.nextBtn {
  background: rgb(25, 25, 248);
}
.navActive a {
  background-color: blue;
}

@media (max-width: 400px) {
  .navigationBtn {
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 60%;
  }
}
